@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Light/Poppins-Light.eot');
    src: url('../../fonts/Poppins-Light/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Poppins-Light/Poppins-Light.woff2') format('woff2'),
        url('../../fonts/Poppins-Light/Poppins-Light.woff') format('woff'),
        url('../../fonts/Poppins-Light/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Medium/Poppins-Medium.eot');
    src: url('../../fonts/Poppins-Medium/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Poppins-Medium/Poppins-Medium.woff2') format('woff2'),
        url('../../fonts/Poppins-Medium/Poppins-Medium.woff') format('woff'),
        url('../../fonts/Poppins-Medium/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Regular/Poppins-Regular.eot');
    src: url('../../fonts/Poppins-Regular/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Poppins-Regular/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/Poppins-Regular/Poppins-Regular.woff') format('woff'),
        url('../../fonts/Poppins-Regular/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-SemiBold/Poppins-SemiBold.eot');
    src: url('../../fonts/Poppins-SemiBold/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Poppins-SemiBold/Poppins-SemiBold.woff2') format('woff2'),
        url('../../fonts/Poppins-SemiBold/Poppins-SemiBold.woff') format('woff'),
        url('../../fonts/Poppins-SemiBold/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Medium/Roboto-Medium.eot');
    src: url('../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Roboto-Medium/Roboto-Medium.woff2') format('woff2'),
        url('../../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
        url('../../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}