// Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Color
$primary-color: #14202E;
$secondary-color: #EABE55;

$text-color: #8695A8;
$text-color-1: #3F3F3F;
$text-color-2: #F1AC4D;
$text-color-3: #2491FF;
$text-color-4: #757575;
$text-white: #FFFFFF;
$text-black: #000000;

$border-color: #C7CBD6;
$border-color-1: #5BC0DE;
$border-color-2: #1CB09A;
$border-color-3: #9AD6AD;
$border-color-4: #707070;

$bg-color-1: #D8534E;
$bg-color-2: #418BCA;
$bg-color-3: #3C5A9A;
$bg-color-4: #F7F6F9;
$bg-color-5: #EFEEF3;
$bg-color-6: #223247;
$bg-color-7: #FAFAFA;
$bg-color-8: #F3F3F3;

$active-slider-color: #1492E6;
$inactive-slider-color: #17003138;

// path
$images-path: '../images' !default;


// icomoon

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon/" !default;

$ip-close: "\e913";
$ip-right-arrow: "\e912";
$ip-share: "\e900";
$ip-youtube: "\e901";
$ip-user: "\e902";
$ip-up-arrow: "\e903";
$ip-twitter: "\e904";
$ip-tick: "\e90a";
$ip-search: "\e90b";
$ip-quote: "\e90c";
$ip-play-fill: "\e90d";
$ip-play: "\e90e";
$ip-linkedin: "\e90f";
$ip-info: "\e910";
$ip-facebook: "\e911";
$ip-expand: "\e905";
$ip-email: "\e906";
$ip-download: "\e907";
$ip-arrow-right: "\e908";
$ip-arrow-left: "\e909";
