.commonBanner{
    &__img{
        &.rotating {
            img{
                @include breakpoint(mobile-max) {
                    max-width: 18rem;
                }
            }
        }
    }
}
#about-the-prize {
    &.commonContent{
        @include breakpoint(mobile-max) {
            padding: 3.2rem 0 6rem;
        }
    }
    .commonContent__heading{
        @include breakpoint(mobile-max) {
            margin: 0 0 1.3rem;
        }
        .fs-3{
            @include breakpoint(mobile-max) {
                font-size: 3.4rem !important;
            }
        }
    }
    .commonContent__content{
        @include breakpoint(mobile-max) {
            font-size: 1.6rem;
        }
    }
}
.the-medallion {
    @include background-color-rgba($bg-color-5, 0.5);
    padding: 12rem 0;
    @include breakpoint(mobile-max) {
        padding: 3.8rem 0;
    }
    &__content {
        p {
            color: $primary-color;
            @include breakpoint(mobile-max) {
                font-size: 1.6rem;
            }
        }
    }
    &__img {
        @include breakpoint(mobile-max) {
            align-items: start !important;
        }
        img {
            width: 22.6rem;
            height: 22.6rem;
            object-fit: contain;
            @include breakpoint(mobile-max) {
                width: 19.1rem;
                height: 100%;
            }
        }
        ul {
            width: calc(100% - 22.6rem);
            padding-left: 5rem;
            @include breakpoint(mobile-max) {
                padding-left: 4.1rem;
                width: 100%;
            }
            li {
                padding: 2.4rem 1.8rem;
                border-top: 0.1rem solid $text-color;
                @include breakpoint(mobile-max) {
                    padding: 1.4rem 0.8rem;
                }
            }
        }
        &-list {
            .fs-3 {
                font-weight: 500;
                color: $primary-color;
                @include breakpoint(mobile-max) {
                    font-size: 2rem !important;
                }
            }
            .fs-6 {
                font-weight: 300;
                @include breakpoint(mobile-max) {
                    font-size: 1rem !important;
                }
            }
        }
    }
}

.statutes {
    padding: 7.1rem 0;
    @include breakpoint(mobile-max) {
        padding: 5.2rem 0 6.5rem;
        background-color: $bg-color-8;
    }
    .container{
        @include breakpoint(mobile-max) {
            padding: 0 1.6rem;
        }
    }
    .display-4 {
        color: $primary-color;
        font-weight: 600;
    }
    &__content{
        .fs-2 {
            color: $primary-color;
            @include breakpoint(mobile-max) {
                font-size: 3.4rem !important;
            }
        }
        p {
            color: $primary-color;
            @include breakpoint(mobile-max) {
                font-size: 1.6rem;
            }
        }
        .my-4 {
            @include breakpoint(mobile-max) {
                margin-top: 2.4rem !important;
                margin-bottom: 2.4rem !important;
            }
        }
        .display-2{
            @include breakpoint(mobile-max) {
                font-size: 3.4rem !important;
                color: $primary-color;
            }
        }
        .highlighted_box{
            p{
                font-weight: 600;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    &-list {
        padding-left: 5.6rem;
        // border-bottom: 0.1rem solid $border-color;
        @include breakpoint(mobile-max) {
            padding-top: 1.4rem;
            border: none;
        }
        li {
            padding: 1.4rem 0;
            position: relative;
            @include breakpoint(mobile-max) {
                font-size: 1.6rem;
                padding: 0;
            }
            &::before {
                content: "";
                position: absolute;
                display: block;
                background-color: $border-color-4;
                width: 2.5rem;
                height: 0.1rem;
                left: -5.5rem;
                top: 2rem;
                @include breakpoint(mobile-max) {
                    width: 1.5rem;
                    left: -4.5rem;
                }
            }
            &:last-child {
                @include breakpoint(mobile-max) {
                    padding-bottom: 1.4rem;
                    border-bottom: 0.1rem solid $border-color;
                }
            }
        }
        li + li {
            @include breakpoint(mobile-max) {
                margin: 2.4rem 0 0;
            }
        }
    }
    a {
        color: $text-color-3;
        &:hover {
            color: $secondary-color;
        }
    }

    .pagination {
        margin-top: 10rem;
        justify-content: end;
    }
    &.bg-gray-1{
        @include breakpoint(mobile-max) {
            background-color: $bg-color-4;
            padding: 2.9rem 0 5.1rem;
        }
    }
    .custom_down_arrow{
        height: 9rem;
        .ip-arrow-right{
            &:before{
                @include breakpoint(mobile-max) {
                    position: absolute;
                    top: 2.5rem;
                    color: $text-black;
                    transform: rotate(90deg);
                    left: 50%;
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
        }
    }
}

.key_dates {
    .fs-3{
        @include breakpoint(mobile-max) {
            font-size: 3.4rem !important;
            color: $primary-color;
        }
    }
    &-sec {
        &__block {
            padding: 1rem 2rem;
            margin: 0.2rem 0;
            position: relative;
            @include breakpoint(mobile-max) {
                padding: 2rem 2rem 2rem 2.8rem;
                margin: 0.1rem 0;
            }
            .fs-4 {
                font-weight: 500;
                margin-bottom: 0.5rem;
                color: $primary-color;
                @include breakpoint(mobile-max) {
                    font-weight: 600;
                    margin-bottom: 0.7rem;
                    font-size: 2.1rem !important;
                }
            }
            p {
                font-size: 1.3rem;
                @include breakpoint(mobile-max) {
                    font-size: 1.6rem;
                    color: $primary-color;
                    margin-bottom: 0;
                }
            }
            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 0.5rem;
                height: 100%;
                left: 0;
                top: 0;
                @include breakpoint(mobile-max) {
                    width: 0.8rem;
                }
            }
            &.color-1 {
                &::before {
                    background-color: $border-color-1;
                }
            }
            &.color-2 {
                &::before {
                    background-color: $bg-color-1;
                }
            }
            &.color-3 {
                &::before {
                    background-color: $text-color;
                }
            }
            &.color-4 {
                &::before {
                    background-color: $border-color-2;
                }
            }
            &.color-5 {
                &::before {
                    background-color: $border-color-3;
                }
            }
            &.color-6 {
                &::before {
                    background-color: $bg-color-2;
                }
            }
        }
    }
}

.categories {
    &__block {
        height: 33.2rem;
        border: 0.1rem solid #fff;
        position: relative;
        overflow: hidden;
        display: block;
        transition: all 0.3s ease;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .fs-3 {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-weight: 400;
            line-height: 1.6;
        }
        .icon-box {
            position: absolute;
            display: block;
            left: 50%;
            bottom: 4rem;
            transform: translateX(-50%);
            border: 0.1rem solid #fff;
            width: 4.5rem;
            height: 4.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            font-size: 1.8rem;
            color: #fff;
            transition: all 0.5s ease;
        }
        &::before {
            content: "";
            position: absolute;
            display: block;
            @include background-color-rgba($secondary-color, 0.8);
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            transition: all 0.3s ease;
            opacity: 0;
        }
        &:hover {
            &::before {
                opacity: 1;
            }
            .icon-box {
                background-color: #fff;
                color: $primary-color;
                bottom: 6rem;
            }
        }
    }
}

.page-not-found {
    .statutes-list {
        li {
            max-width: 60%;
        }
    }
}

.similar-stories {
    &__slider {
        .slick-slide {
            margin: 0 0.2rem;
            position: relative;
            cursor: pointer;
            img {
                width: 100%;
                height: 20.8rem;
                object-fit: cover;
            }
        }
        &-content {
            padding: 2.1rem 1.8rem;
            .fs-4 {
                font-weight: 500;
                color: $primary-color;
            }
            .news-meta {
                font-size: 1rem;
                color: $primary-color;
            }
        }
    }
    .custom-arrows {
        .progress {
            background-color: #fff;
        }
    }
}

.categories-slider {
    &__slider {
        .categories__block {
            height: 29.6rem;
            .fa-icon {
                bottom: 2.8rem;
            }
            &:before {
                @include background-color-rgba($primary-color, 0.5);
                bottom: 0;
            }
            &:hover {
                &::before {
                    @include background-color-rgba($secondary-color, 0.8);
                }
                .fa-icon {
                    bottom: 5rem;
                }
            }
        }
    }
    .custom-arrows {
        border: 0;
        &:before {
            display: none;
        }
        &__btn {
            width: 100%;
            margin-top: 0;
            .arrow-btn {
                width: auto;
                padding: 0;
                color: $primary-color;
                &.prev-categories {
                    .fa-icon {
                        margin-right: 1.6rem;
                    }
                }
                &.next-categories {
                    .fa-icon {
                        margin-left: 1.6rem;
                    }
                }
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}

.infographic {
    padding: 6rem 0 7.1rem;
    background-image: url('#{$images-path}/infographic.jpg');
    background-position: center center;
    background-size: cover;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    background-attachment: fixed;
    .main-img {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    &::before {
        content: "";
        position: absolute;
        display: block;
        @include background-color-rgba($primary-color, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &__content {
        z-index: 2;
        position: relative;
        .display-4 {
            font-weight: 500;
        }
    }
    &__btn {
        z-index: 2;
        position: relative;
        .btn {
            background-color: #fff;
            color: $primary-color;
            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
}

.firstReaction {
    padding: 7.1rem 0 11.8rem;
    &__block {
        margin-right: 4.7rem;
        @include box-shadow;
        &-content {
            padding: 1.4rem 1.7rem 2.1rem;
            .display-4 {
                font-weight: 500;
                color: $primary-color;
            }
        }
        &-img {
            height: 20rem;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            &::before {
                content: "";
                position: absolute;
                display: block;
                @include background-color-rgba($primary-color, 0.3);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: all 0.5s ease;
                opacity: 0;
            }
            .play-icon {
                bottom: 2rem;
                left: 2rem;
                transition: all 0.5s ease;
            }
            &:hover {
                &::before {
                    opacity: 1;
                }
                .play-icon {
                    bottom: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    &__quote {
        border-left: 0.1rem solid $text-color;
        padding-left: 4.7rem;
        .quote-icon {
            .fa-icon {
                color: #1CB09A;
                font-size: 5rem;
            }
        }
        p {
            font-weight: 300;
        }
        .fs-4 {
            font-weight: 600;
        }
        .news-meta {
            font-size: 1.3rem;
        }
    }
}