.main-banner {
    overflow: hidden;
    position: relative;
    &__slider {
        height: 100vh;
        .slick-list, .slick-track {
            height: 100%;
        }
        .slick-slide {
            position: relative;
            img {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            &:before {
                content: "";
                position: absolute;
                display: block;
                @include background-color-rgba($primary-color, 0.36);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 9;
            }
        }
        &-content {
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999;
            position: relative;
            .fs-1{
                @include breakpoint(mobile-max) {
                    line-height: 4.5rem;
                }
                .small-text {
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    @include breakpoint(mobile-max) {
                        font-size: 1.6rem;
                        letter-spacing: 0.16rem;
                        line-height: initial;
                    }
                }
            }
            .hr {
                width: 5rem;
                color: #fff;
            }
            .news-meta {
                font-size: 1.2rem;            
                max-width: 58%;
            }
        }
        // .slick-dots {
        //     bottom: 0;
        // }
    }
    .slider-dots{
        .custom-dots{
            .slick-dots{
                bottom: 0;
                @include breakpoint(mobile-max) {
                    display: none !important;
                }
            }
        }
    }
}

.slider-dots {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 15%;
    .custom-dots {
        .slick-dots {
            position: relative;
            bottom: 0;
            text-align: left;
        }
    }

    .goto_bottom {
        position: absolute;
        display: block;
        right: 0;
        bottom: -2rem;
        @include breakpoint(mobile-max) {
            right: 1rem;
            bottom: -4rem;
        }
        &__link {
            width: 4.5rem;
            height: 4.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(180deg);
            border-radius: 100%;
            border: 0.1rem solid #fff;
            @include breakpoint(mobile-max) {
                width: 6.4rem;
                height: 6.4rem;
            }
            // @include breakpoint(custom-small-mobile-max){
            //     width: 3.4rem;
            //     height: 3.4rem;
            // }
            .fa-icon {
                font-size: 1.8rem;
                color: #fff;
                -webkit-transform: perspective(0.1rem) translateZ(0);
                transform: perspective(0.1rem) translateZ(0);
                @include breakpoint(mobile-max) {
                    font-size: 2.6rem;
                }
            }
            &:hover {
                .fa-icon {
                    color: $secondary-color;
                    -webkit-animation-name: wobble-vertical-on-hover;
                    animation-name: wobble-vertical-on-hover;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                    -webkit-animation-iteration-count: 1;
                    animation-iteration-count: 1;
                }
            }
        }
    }
}

.in_thenews {
    @include breakpoint(mobile-max){
        padding-bottom: 6.5rem;
        background-color: $bg-color-5;
    }
    &__block {
        position: relative;
        height: 100%;
        @include breakpoint(mobile-max) {
            width: 100%;
        }
        &-content {
            position: absolute;
            display: block;
            width: 100%;
            height: auto;
            left: 0;
            bottom: 0;
            padding: 2.5rem;
            .fs-6 {
                line-height: 1.4;
                font-weight: 500;
                color: #fff;
                position: relative;
                transition: font-size 0.3s ease-out;
                @include breakpoint(mobile-max){
                    font-size: 2.6rem !important;
                }
            }
            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(31,37,61,0) 0%, rgba(31,37,61,0.804359243697479) 100%);
                bottom: 0;
                left: 0;
            }
            .news-meta{
                @include breakpoint(mobile-max) {
                    font-size: 1.6rem;
                }
            }
        }
        &:hover {
            .fs-6 {
                font-size: 1.5rem !important;
                transform: font-size 0.3s ease-out;
                @include breakpoint(mobile-max){
                    font-size: 1.8rem !important;
                }
            }
        }
    }
    &__slider {
        margin: 0 -3.5rem;
        @include breakpoint(mobile-max) {
            margin-bottom: 3.8rem !important;
        }
        .in_thenews__block {
            width: 37.8rem;
            height: 29.4rem;
            @include breakpoint(custom-small-mobile-max){
                width: 32rem;
            }
        }
        .slick-dots{
            line-height: initial;
            bottom: -3.8rem;
            li{
                button{
                    @include breakpoint(mobile-max) {
                        background-color: $inactive-slider-color;
                        border: 0.1rem solid transparent;
                    }
                }
                &.slick-active{
                    button {
                        @include breakpoint(mobile-max) {
                            background-color: $active-slider-color;
                            border-color: $active-slider-color;
                        }
                    }
                }
            }
        }        
    }
    .link-view{
        @include breakpoint(mobile-max) {
            text-decoration: none;
            line-height: initial;
        }
        .ip-arrow-right{
            font-size: 2rem;
            font-weight: bold;
        }
    }
    .custom-slider-arrows{
        @include breakpoint(mobile-max) {
            display: none !important;
        }
    }
}

.lectures {
    @include breakpoint(mobile-max) {
        padding-bottom: 6.5rem;
        background-color: $bg-color-8;
    }
    &__block {
        max-width: 41.4rem;
        max-height: 31.2rem;
        margin: 0 0.1rem;
        position: relative;
        transition: all 0.3s ease;
        &-content {
            position: absolute;
            display: block;
            width: 100%;
            height: auto;
            padding: 2.4rem 2.2rem;
            bottom: 0;
            left: 0;
            transition: all .2s ease-in-out; 
            @include breakpoint(mobile-max) {
                padding: 3.4rem 5rem;
            }
            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(31,37,61,0) 0%, rgba(31,37,61,1) 100%);
                bottom: 0;
                left: 0;
            }
            .display-3 {
                position: relative;
                font-weight: 500;
                margin-bottom: 1.5rem;
                @include breakpoint(mobile-max) {
                    font-size: 2.6rem !important;
                    margin-bottom: 1.6rem;
                }
            }
            p {
                position: relative;
                color: #fff;
            }
            .fs-4 {
                position: relative;
                @include breakpoint(mobile-max) {
                    font-size: 1.4rem !important;
                    font-weight: 300;
                }
            }
        }
        &:hover {
            .lectures__block-content {
                padding: 3.1rem 2.2rem;
                transform: scale(1);
            }
        }
    }
    .link-view{
        @include breakpoint(mobile-max) {
            text-decoration: none;
            line-height: initial;
        }
        .ip-arrow-right{
            font-size: 2rem;
            font-weight: bold;
        }
    }
    &-slider{
        @include breakpoint(mobile-max) {
            margin-bottom: 3.8rem !important;
        }
        .slick-dots{
            line-height: initial;
            bottom: -3.8rem;
            li{
                button{
                    @include breakpoint(mobile-max) {
                        background-color: $inactive-slider-color;
                        border: 0.1rem solid transparent;
                    }
                }
                &.slick-active{
                    button {
                        @include breakpoint(mobile-max) {
                            background-color: $active-slider-color;
                            border-color: $active-slider-color;
                        }
                    }
                }
            }
        }
    }
    .custom-slider-arrows{
        @include breakpoint(mobile-max) {
            display: none !important;
        }
    }
}

.socialBuzz {
    @include breakpoint(mobile-max) {
        padding-bottom: 6.5rem;
    }
    &__slider {
        @include breakpoint(mobile-max) {
            margin: 0 -3.5rem 3.8rem !important;
        }
        &-block {
            width: 27.7rem;
            height: 20.8rem;
            padding: 1.5rem 1.8rem;
            background-color: $bg-color-2;
            border-right: 0.1rem solid #fff;
            border-left: 0.1rem solid #fff;
            cursor: pointer;
            @include breakpoint(mobile-max) {
                width: 37.8rem;
                height: 28.5rem;
            }
            @include breakpoint(custom-small-mobile-max){
                width: 32rem;
            }
            .icon-box {
                .fa-icon {
                    font-size: 3.7rem;
                    color: #fff;
                    @include breakpoint(mobile-max) {
                        font-size: 5.3rem;
                    }
                }
            }
            .fs-4 {
                text-overflow:ellipsis;
                overflow:hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                white-space: normal;
                line-height: 1.4;
                color: #fff;
                @include breakpoint(mobile-max) {
                    font-size: 2.1rem !important;
                }
                .hash-text {
                    color: $text-color-2;
                }
            }
            &.bg-facebook {
                background-color: $bg-color-3;
            }

            .handled_by {
                font-size: 1.3rem;
                color: #fff;
                font-weight: 300;
            }

            .social-link {
                transform: rotate(90deg);
                width: 2.2rem;
                height: 2.4rem;
                position: relative;
                display: none;
                transition: transform .5s ease;
            }

            &:hover {
                background-color: #fff;
                @include box-shadow;
                .fs-4 {
                    color: $primary-color;
                    .hash-text {
                        color: $text-color-3;
                    }
                }
                &.bg-facebook {
                    .fa-icon {
                        color: $bg-color-3;
                    }
                }
                &.bg-twitter {
                    .fa-icon {
                        color: $bg-color-2;
                    }
                }
                &.bg-youtube {
                    .fa-icon {
                        color: $bg-color-1;
                    }
                }
                .arrow-animate__inner {
                    margin-top: 0;
                    .fa-icon {
                        color: $secondary-color;
                    }
                }
                .handled_by {
                    color: $primary-color;
                }
            }
        }
        .slick-track {
            padding-bottom: 3rem;
            @include breakpoint(mobile-max) {
                padding-bottom: 0;
            }
        }
        .slick-dots{
            line-height: initial;
            bottom: -3.8rem;
            li{
                button{
                    @include breakpoint(mobile-max) {
                        background-color: $inactive-slider-color;
                        border: 0.1rem solid transparent;
                    }
                }
                &.slick-active{
                    button {
                        @include breakpoint(mobile-max) {
                            background-color: $active-slider-color;
                            border-color: $active-slider-color;
                        }
                    }
                }
            }
        }       
    }
    .custom-slider-arrows{
        @include breakpoint(mobile-max) {
            display: none !important;
        }
    } 
    .progress {
        background-color: #fff;
    }
    .link-view{
        @include breakpoint(mobile-max) {
            text-decoration: none;
            line-height: initial;
        }
        .ip-arrow-right{
            font-size: 2rem;
            font-weight: bold;
        }
    }
}