.the-prize {
    background-image: url('#{$images-path}/host-lecture.jpg');
    padding: 2.1rem;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;

    .main-img {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.3s ease;
    }

    &__content {
        position: relative;
        width: calc(100% - 24rem);
        max-width: calc(100% - 24rem);
        transition: all 0.3s ease;
        p {
            color: #fff;
            transition: all 0.3s ease;
        }
        .fs-3 {
            color: #fff;
            transition: all 0.3s ease;
        }
    }

    &__img {
        position: relative;
        width: 24rem;
        max-width: 24rem;
        flex: 0 0 24rem;
        text-align: right;

        .prize-img {
            width: 13.8rem;
            height: 13.8rem;
            object-fit: contain;
        }
    }
}

.communities {
    &__block {
        position: relative;
        cursor: pointer;
        margin: 0.1rem;
        height: 29.8rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            @include background-color-rgba($primary-color, 0.3);
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            transform: all 0.5s ease;
        }

        &-content {
            position: absolute;
            display: flex;
            width: 100%;
            height: auto;
            bottom: 0;
            left: 0;
            text-align: center;
            align-items: center;
            justify-content: end;
            flex-direction: column;
            padding: 3.4rem 2rem;
            transition: all 0.3s ease;

            .fs-3 {
                font-weight: 500;
                color: #fff;
            }

            p {
                color: #fff;
                font-size: 1.3rem;
                margin: 0;
                display: none;
                transition: all 0.3s ease;
            }

            .icon-box {
                display: block;
                border: 0.1rem solid #fff;
                width: 4.5rem;
                height: 4.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                font-size: 1.8rem;
                color: #fff;
                transition: all 0.5s ease;
                margin-top: 2rem;
                transition: all 0.5s ease;
            }
        }

        &:hover {
            &::before {
                @include background-color-rgba($primary-color, 0.5);
            }

            p {
                display: block;
            }

            .icon-box {
                background-color: $secondary-color;
                color: #fff;
                border-color: $secondary-color;
                margin-bottom: 3rem;
            }
        }
    }
}

.programsCom {
    margin-top: -13.5rem;
    z-index: 9;

    &::before {
        content: "";
        position: absolute;
        display: block;
        background-color: $bg-color-4;
        width: 1000px;
        height: 130%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.studentSec {
    .display-2, p {
        color: $primary-color;
    }
    .lectures-slider {
        margin-left: 17.50%;

        .lectures__block {
            &-content {
                p {
                    display: none;
                    color: #fff;
                }
            }

            &:hover {
                p {
                    display: block;
                }
            }
        }
    }
}

.ourGoal {
    .display-2, p, .fs-3 {
        color: $primary-color;
    }
}

.impact {
    .display-2, .fs-2, .fs-3, .fs-4 {
        color: $primary-color;
    }
    p {
        color: $primary-color;
        font-weight: 300;
    }
    .lectures__block-content {
        p {
            color: #fff;
        }
    }
    .display-3 {
        font-weight: 600;
        color: $primary-color;
    }
}

.verticalTimeline {
    .display-2, p {
        color: $primary-color;
    }
}

.steps-list {
    position: relative;
    display: inline-block;
    &__item {
        list-style: none;
        box-sizing: border-box;
        line-height: normal;
        position: relative;
        width: 100%;
        padding: 5rem 0;
        display: flex;

        &:before {
            content: '';
            position: absolute;
            height: 100%;
            left: 50%;
            width: 1px;
            top: 5rem;
            z-index: 1;
            border-right: 1px dashed $border-color;
        }

        &:last-child {
            &::before {
                display: none;
            }
        }

        .big-text {
            font-size: 9rem;
            top: -0.5rem;
            font-weight: 900;
            left: 4.2rem;
        }

        .news-meta {
            color: $primary-color;

            &__tag {
                &:after {
                    background-color: $primary-color;
                }
            }
        }

        p {
            line-height: 1.6;
            a {
                color: #2491FF;
                &:hover {
                    color: $secondary-color;
                }
            }
        }

        .fs-4 {
            font-weight: 500;
            color: $primary-color;
        }

        .video-hover {
            width: 27.6rem;
            height: 20rem;
            position: relative;
            border: 1px solid $border-color-4;

            .play-icon {
                width: 8.2rem;
                height: 8.2rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .fa-icon {
                    font-size: 2.2rem;
                }

                &:hover {
                    background-color: $secondary-color;
                    border-color: $secondary-color;

                    .fa-icon {
                        color: #fff;
                    }
                }
            }
        }

        .marker {
            width: 2.1rem;
            height: 2.1rem;
            background-color: #fff;
            border: 1px solid $secondary-color;
            border-radius: 100%;
            left: 50%;
            position: absolute;
            display: block;
            transform: translateX(-50%);
            z-index: 9;

            &:after {
                content: "";
                position: absolute;
                display: block;
                width: 1.3rem;
                height: 1.3rem;
                background-color: $secondary-color;
                border-radius: 100%;
                left: 0.3rem;
                top: 0.3rem;
            }
        }

        &__left {
            width: 50%;
            position: relative;
            padding-right: 4.2rem;
            text-align: right;
            .big-text {
                right: 4.2rem;
                left: auto;
            }
            .news-meta {
                justify-content: end;
            }
            .video-hover {
                margin-left: auto;
            }
        }

        &__right {
            width: 50%;
            position: relative;
            padding-left: 4.2rem;
            text-align: left;
        }

        &:nth-child(odd) {
            float: left;
            clear: both;
            padding-left: 0;
        }

        &:nth-child(even) {
            float: right;
            clear: both;
            padding-right: 0;

            
        }
    }
}

.academy-logo {
    max-width: 375px;
}

.progressbar {
    &__list {
        position: relative;
        &-block {
            background-color: $bg-color-7;
            border: 0.7rem solid $bg-color-5;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 2rem;
            text-align: center;
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 0.7rem;
            top: 50%;
            right: -100%;
            background-color: $bg-color-5;
        }
        &:first-child {
            .progressbar__list-block {
                width: 22.7rem;
                height: 22.7rem;
            }
        }
        &:nth-child(2) {
            .progressbar__list-block {
                width: 17rem;
                height: 17rem;
            }
        }
        &:nth-child(3) {
            .progressbar__list-block {
                width: 12.8rem;
                height: 12.8rem;
            }
        }
        &:last-child {
            .progressbar__list-block {
                width: 8.5rem;
                height: 8.5rem;
            }
            &::after {
                display: none;
            }
        }
    }
}

