.jury {
    &__slider {
        .fs-2 {
            color: $primary-color;
        }
        &__row {
            background-color: $primary-color;
        }
        &-img {
            height: 30.5rem;
            background-color: $text-color;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-content {
            padding: 7rem 7.1rem 3rem 2.1rem;
            hr {
                width: 5rem;
                background-color: $text-color;
            }
            .news-meta {
                color: $text-color;
                font-size: 1.5rem;
                &__tag {
                    &::after {
                        background-color: $text-color;
                    }
                }
            }
            p {
                font-size: 1.3rem;
                font-weight: 300;
            }
            .link {
                color: #fff;
                font-weight: 400;
                &:hover {
                    color: $secondary-color;
                }
            }
        }
        &-person {
            position: relative;
            transition: all 0.5s ease;
            cursor: pointer;
            height: 20.8rem;
            border: 0.1rem solid #fff;
            background-color: $border-color;
            .img-fluid {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &__content {
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                padding: 1.4rem;
                width: 100%;
                transition: all 0.5s ease;
                .fs-4 {
                    font-weight: 600;
                    position: relative;
                }
                p {
                    font-size: 1.1rem;
                    font-weight: 300;
                    position: relative;
                    display: none;
                    transition: all 0.5s ease;
                }
                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(31,37,61,0) 0%, rgba(31,37,61,0.804359243697479) 100%);
                    bottom: 0;
                    left: 0;
                }
            }
            &:hover {
                p {
                    display: block;
                }
            }
        }
        &-nav {
            position: absolute;
            display: block;
            top: 50%;
            right: 10rem;
            transform: translateY(-50%);
            width: 6.4rem;
        }
    }
}

.jury-tabs {
    .nav-tabs {
        width: 23rem;
        margin-right: 3rem;
        border-bottom: 0;
        span {
            color: $primary-color;
            font-size: 1.1rem;
            font-weight: 300;
        }
        .nav-item {
            margin: 0.8rem 0;
            .nav-link {
                padding: 0;
                border: 0;
                text-align: left;
                color: $text-color;
                font-size: 1.5rem;
                font-weight: 300;
                width: 100%;
                padding-right: 1.9rem;
                position: relative;
                .icon-box {
                    position: absolute;
                    display: block;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                    .fa-icon {
                        font-size: 1.7rem;
                    }
                }
                &.active, &:hover, &:focus {
                    color: $primary-color;
                    font-weight: 500;
                    .icon-box {
                        opacity: 1;
                    }
                }
            }
            &:first-child {
                margin-bottom: 8rem;
            }
        }
    }
    .tab-content {
        width: calc(100% - 23rem);
        padding-left: 2.1rem;
        border-left: 0.1rem solid $border-color;
    }
    &__img {
        height: 16.1rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__short {
        .share-icon {
            .fa-icon {
                font-size: 2.3rem;
            }
            &:hover {
                .fa-icon {
                    color: $secondary-color;
                }
            }
        }
        p {
            font-size: 1.1rem;
        }
    }
    &__content {
        height: 20rem;
        overflow-y: scroll;
        padding-right: 1.4rem;
        p {
            font-size: 1.3rem;
        }
        &::-webkit-scrollbar {
            width: 0.3rem;
          }
          &::-webkit-scrollbar-track {
            background: $border-color;
            border-left: 0.1rem solid white;
            border-right: 0.1rem solid white;
          }
    }
}

.juryChair {
    padding: 9rem 0;
    &__img {
        height: 29rem;
        margin-right: 3rem;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__content {
        .share-icon {
            .fa-icon {
                color: $text-color;
            }
        }
    }
    &__sec {
        padding: 7.5rem 0 9rem;
        p {
            color: $primary-color;
        }
    }
}